body{
	background-color: #0d316b;
	color: #0d316b;
	font-size: 14px;
}

a:hover{
	background: #f4fff9;
	text-decoration: none;
}

nav{
	margin-bottom: 5px;
}

hr{
	margin: 10px 0px 10px 0px;
	border: 2px solid #0d316b;
}

h1{
	text-align: center;
}

address{
	text-align: left;
	font-size: 14px;
}

/*	class	*/

.container{
	background: #f4fff9;
}


.menu {
	background-color: #0d316b;
	border: 1px solid #0d316b;
	margin: 10px;
	padding: 0;
}

.catalog{
	border: 2px solid #b4eae3;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	padding: 0;
}

.carousel-inner{
	margin-bottom: 10px;
}

.btn-group-vertical{
	width: 100%;
	padding: 0;
	margin-bottom: 0;
}

.catalog .btn{
	background-color: inherit;
	text-align: left;
	color: #0d316b;
	font-size: 16px;
	border-top: 2px solid #b4eae3;
	padding: 0;
}

.catalog .btn:hover{
	background-color: #b4eae3;
}

.catalog .btn a{
	display: block;
	text-decoration: none;
	color: #0d316b;	
	width: 100%;
	padding: 5px 0 5px 25px;
}

.catalog .btn a:hover{
	background-color: #b4eae3;
	color: #0d316b;
}

.block_products{
	display: flex;
	align-items: baseline;
	justify-content: center;
	flex-wrap: wrap;
}

.product{
	display: flex;
	flex-direction: column;
	margin: 15px 0px; 
	padding: 5px;
	align-items: center;
	width: 23%;
	height: 100%;
}

.product:hover{
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	box-shadow: 0 0 50px rgba(0,0,0,1);
	background-color: #c3d2ca;
}

.product img{
	width: 178px;
}

.product a{
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #0d316b;
}

.product a:hover{
	background-color: inherit;
	color: #2e92e8;
}

.product_count_price{
	width: 75%;
	display: flex;
	align-items: flex-end;
}

.count{
	width: 65%;
	height: 40px;
	text-align: left;
}

.price{
	width: 35%;
	text-align: right;
	height: 40px;
}

.product .btn_cart{
	width: 80%;
	text-align: center;
}

.active{
	color: #d9534f!important;
}

.cart_count{
	width: 35%;
	text-align: center;
	margin: 5px 5px;
	border: 1px solid #0d316b;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	box-shadow: 0 0 2px rgba(0,0,0,0.5);
}

.count_deduct, .count_addition{
	cursor: pointer;
}

/*	id	*/

#top{
	background-color: #e8ebef;
	bottom: 0;
	display: none;
	font-size: 150%;
	position: fixed;
	height: 100%;
	opacity: 0.5;
	text-align: center;
	vertical-align: middle;
	padding-top: 20%;
}

#top span{
	height: 100%;
}

#top:hover, {
	filter: brightness(120%);
}

#top:hover span{
	filter: brightness(50%);	
}

#touch-menu{
	padding: 5px;
	display: none;
}

#menu_list hr{
	display: none;
	border: 1px solid #151251;
	margin: 0;
}

#menu_list ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
}

#menu_list li {
	float: left;
}

#menu_list li a{
	display: block;
	padding: 10px 15px; 
	font-weight: bold;
	font-size: 14px;
	color: #fcfffd;
}

#menu_list li a:hover{
	background-color: #f4fff9;
	color: #0d316b;
	border-radius: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
}

#menu-list hr{
	display: none;
	border: 1px solid #151251;
	margin: 0;
}

#menu-list ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
}

#menu-list li {
	float: left;
}

#menu-list li a{
	display: block;
	padding: 10px 15px; 
	font-weight: bold;
	font-size: 14px;
	color: #fcfffd;
}

#menu-list li a:hover{
	background-color: #f4fff9;
	color: #0d316b;
	border-radius: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
}


#logo{
	margin-left: 15px;
}

#main{
	display: flex;
	align-items: flex-start;
}

#catalog{
	display: none;
	border: none;
	float: right;
}

#title{
	font-size: 20px;
	font-weight: bold;
	margin: 10px;
}

#title a{
	color: #0d316b;
	display: block;
}

#title a:hover{
	cursor: pointer;
}

#title span{
	margin-top: 5px;
}

#about{
	text-align: center;
	font-size: 16px;
}

#pay img{
	margin: 20px 0px 20px 0px;
}

#header{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#block-header{
	display: flex;
	flex-direction: column;
}

#search{
	display: inline-flex;
	padding-right: 15px;

}

#search input{
	padding: 5px;
	border: 1px solid #a9a9a9;
}

#search button{
	padding: 0px;
	border: 1px solid #a9a9a9;
	border-left: none;
}

#search button img{
	height: 30px;
}

#result-search{
	display: none;
	border-left: 1px solid #a9a9a9;
	border-right: 1px solid #a9a9a9;
	border-bottom: 1px solid #a9a9a9;
	width: 182px;
	height: auto;
	background-color: white;
	padding: 0;
	position: absolute;
	margin-top: 32px;
}

#result-search li{
	list-style: none;
}

#result-search a{
	text-decoration: none;
	font: 14px sans-serif;
	padding: 5px;
	display: block;
	color: black;
	padding: 5px;
}

#result-search a:hover{
	background-color: #f1f2f2;
	text-decoration: none;
}

#cart{
	float: right;
	padding: 10px 15px;
	display: inline-block;
}

#cart a{
	text-decoration: none;	
	font-size: 14px;
	font-weight: bold;
	color: #fcfffd;
}

#cart a:hover{
	background-color: #0d316b;
	color: #d9534f;
}

#step_name ul li{
	list-style: none;
	display: inline-block;
	margin-right: 25px;
}

#step_name ul li a{
	text-decoration: none;
	font-weight: bold;
	font-size: 14px;
	color: #0d316b;
}

#step_name ul li a:hover{
	color: #d9534f;
}

#cart_header{
	padding-left: 40px;
	font-weight: bold;
	font-size: 14px;
}

#cart_header p{
	display: inline-block;
}

#cart_header a{
	text-decoration: none;
}

#cart_header a:hover{
	background-color: inherit;
}

#cart_header a button{
	float: right;
	margin-right: 15px;
	font-weight: bold;
	font-size: 14px;
	color: #fcfffd;
}

#result_price{
	display: inline-block;
	float: right;
	text-align: right;
	padding: 0px 15px;
}

#result_price a{
	width: 100%;
}

#result_price a button {
	width: 70%;
	font-size: 16px;
	font-weight: bold;
}

#empty_cart{
	text-align: center;
}

#view{
}

#view_product{
	width: 100%;
	height: 100%;
}

#view_product hr{
	border-width: 1px;
}

#view_product img{
	float: left;
	width: 25%;
	height: 100%;
}

#view_product > div{
	display: inline-flex;
	flex-direction: column;
	justify-content: space-around;
	float: right;
	width: 75%;
	height: 100%;
}

#view_title{
	width: 100%;
	display: inline-block;
	padding: 0 10px;
}

#view_description{
	width: 75%;
	display: inline-block;
	padding: 0 10px;
	font-size: 14px;
	font-weight: bold;
}

#view_footer{
	width: 75%;
	padding: 0px 10px;
	display: inline-flex;
	justify-content: space-between;
	align-items: flex-end;
	font-size: 14px;
	font-weight: bold;
}

@media screen and (max-device-width: 768px){
	#top{
		background: none;
	}
}

@media screen and (max-device-width: 680px){

	.container_menu{
		padding: 0;
	}
	
	#menu_list{
		display:none;
	}

	#menu_list hr{
		display: block;
	}

	#menu_list li{
		float: none;
	}

	#touch-menu{
		width: 100%;
		display: block;
		background-color: #0d316b;
		border: 1px solid #0d316b;
		padding: 10px 15px; 
		font-weight: bold;
		font-size: 14px;
		color: #fcfffd;
		text-align: left;
	}	
}

@media screen and (max-device-width: 600px){
	#main{
		flex-direction: column;
	}

	.catalog{
		order: 2;
	}

	.carousel{
		order: 1;
		padding: 0;
		margin-bottom: 10px;
	}
}